{% if page_obj.has_other_pages %}

<div
    class="mt-10 flex items-center justify-center gap-3"
>

    {% if page_obj.has_previous %}

        <a
            href="?page={{ page_obj.previous_page_number }}"
            class="rounded-lg border px-4 py-2 hover:bg-slate-100 dark:hover:bg-slate-800"
        >

            Previous

        </a>

    {% endif %}

    <span
        class="rounded-lg bg-primary px-4 py-2 font-medium text-white"
    >

        {{ page_obj.number }}

    </span>

    {% if page_obj.has_next %}

        <a
            href="?page={{ page_obj.next_page_number }}"
            class="rounded-lg border px-4 py-2 hover:bg-slate-100 dark:hover:bg-slate-800"
        >

            Next

        </a>

    {% endif %}

</div>

{% endif %}